<!DOCTYPE HTML>
<html>

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css" >

	<!-- Optional theme -->
	<link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">

	<script src="javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
	
	<script src="javascripts/graph.js"></script>
	
</head>
<body>
		<input type="hidden" id="WSPort" name="WSPort" value="<%= WSPort %>">
		<div id="mainTable" class="row" style="margin-left:5px;margin-right:50px">
		
				<div id="graphTable" class="row"></div>
				 
				<div id="nameInput" class="col-md-6"  style="margin-top:2em;margin-bottom:2em;">
					<label for="nameOfSignal">Signal name:</label>
					<input type="text" class="form-control" id="signalGroupName" placeholder="Please Enter a Name for This Signal">
				</div>
				
				<div id="controlMenu" class="col-md-12"  style="margin-bottom:2em;">
					<button id="record" type="button" class="btn btn-default btn-lg col-md-1 controlButton" style="color: black;">Record</button>
					<button id="playback" type="button" class="btn btn-default btn-lg col-md-1 controlButton">Playback</button>
					<button id="test1" type="button" class="btn btn-default btn-lg col-md-1 controlButton">Test</button>
					<div class="col-md-1"></div>
					<button id="cancel" type="button" class="btn btn-default btn-lg col-md-1 controlButton">Cancel</button>
					<button id="save" type="button" class="btn btn-default btn-lg col-md-1 controlButton">Save</button>
				</div>
				
				<div id="addMenu" class="col-md-12" style="margin-bottom:1em;">
					<button id="add" type="button" class="btn btn-default btn-lg col-md-2 controlButton">(+) Channel</button>
					<button id="subtract" type="button" class="btn btn-default btn-lg col-md-2 controlButton">(-) Channel</button>
				</div>
				<!--<div id="messageBox" class="col-md-12" style="margin-bottom:3em;">Debug Log</div>-->
				
				<div id="deleteMenu" class="col-md-12" >
					<button id="delete" type="button" class="btn btn-default btn-sm controlButton">Delete</button>
				</div>
		</div>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>
